@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laboratorio 0</h1>
</div>
<form action="/Index" method="post">
    <label>Nombre: <input type="type" name="Nombre" value="" /></label><br />
    <label>Apellido: <input type="type" name="Apellido" value="" /></label><br />
    <label>Telefono: <input type="tel" name="Telefono" value="" /></label><br />
    <label>Descripcion: <input type="type" name="Descripcion" value="" /></label><br />
    <button>Enviar</button>
</form>